<!DOCTYPE html>
<html>
    <h1 style="text-align: center;">登入完成，請點選「跳轉」回line聊天室</h1>
    <!-- <script>
        onload=function () {
            setInterval(go,1000)
        };
        var x=1;
        function go() {
    
            if (x>=0){
                document.getElementById("sp").innerText=x;
            }else {
                location.href="https://line.me/R/ti/p/@433kwfqx";
            }
            x--;
        }
    </script> -->
    <center>   <input type="button" onclick="javascript:location.href='https://line.me/R/ti/p/@433kwfqx'" value="跳轉" style="width:200px;height:200px;text-align: center;font-size: 30px;"></input></center>
</html>